

#title{
  background-color: #D4E7C5;
}
.iphone{
  transform:  rotate(30deg);
  width: 60%;

}

#features{
  padding: 7% 14%;
  background-color: #E1F0DA;



}
.features-box{
  text-align: center;

}

h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;

}
h3{

  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.midword{
  margin-top: 10%;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 2rem;
}

.Download-button{
  margin: 3% 3% 3% 0%;
}

#testimonials{
  padding: 7% 14%;
  text-align:center;
  background-color:#DBE7C9;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 10px;
}

#press{
  background-color: #DBE7C9;
  padding: 5%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 10px;
}

.carousel-item{
  width: 20%;
  padding: 7% 14%;
  width: 100%;
  text-align: center;
  background-color: #DBE7C9;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;

}

.card{
  text-align: center;
}

#pricing{
  text-align: center;
  margin: 7%;
}

#cta{
  text-align: center;
  margin: 10%;
}

#footer{
  text-align: center;
  margin: 5%;
}
